*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    background: lightblue;
    padding: 1rem;
}

main{
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

img{
    width: 100%;
    background: #000;
    animation: fade 15s;
}

@keyframes fade{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

footer{
    text-align: center;
    background: lightblue;
    padding: 1rem;
    font-size: large;
}