:root {
    --primary: #003d73;
    --primary-light: #d6ecff;
    --accent: #f4a700;
    --text: #333333;
    --bg: #ffffff;
    --card-bg: #fafafa;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "roboto", sans-serif;
    background: var(--bg);
    color: var(--text);
    margin: 1rem;
}

header {
    background: var(--primary);
    color: var(--bg);
    text-align: center;
}

header h1 {
    color: var(--bg);
    padding: 1rem;
}

.flag-accent {
    padding: 0.25rem;
    background: var(--accent);
}

img{
    display: block;
    width: 100%;
    height: 100%;
}

.data, .weather{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.weather{
    border-top: 1px solid #ffffff;
}

h2{
    grid-column: 1/-1;
    margin: 0 auto;
}

svg{
    grid-column: 1/-1;
    margin: 0 auto;
    width: 150px;
}

.left{
    text-align: right;
}

ul{
    list-style: none;
}

li{
    padding: 0.25rem 0;
}

footer {
    background: var(--primary);
    color: var(--bg);
    text-align: center;
    padding: 22px 16px;
    margin-top: 22px;
}

footer p {
    margin: 6px 0;
    text-align: center;
}
